body {
    background: black;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.menuIcon{  
    position: fixed;
    right: 15px;
    top: 0;
    margin: 25px;
    display: inline-block;
    cursor: pointer;
}

.menuLinks{
    position: fixed;
    right: 25px;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.menuLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {transform: translate(0, 11px) rotate(-45deg);} 
/* Fade out the second bar */
.change .bar2 {opacity: 0;}  
/* Rotate last bar */
.change .bar3 {transform: translate(0, -11px) rotate(45deg);}

.header {
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: left;
    background: black;
    color: white;
    font-size: 12px;
}